*{
    margin: 0;
    padding: 0;
}
.w-50{
    width: 50%;
}
.w-30 {
    width: 30%;
}
header{
    background-image: url("images/bg1.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}
nav{
    display: flex;
    height: 150px;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
.nav-logo img{
    margin-top: 20px;
    margin-left: 40px;
    width: 40%;
    color: white;
}
.nav-bar{
    margin-top: 40px;
    margin-left: 700px;
}
ul{
    display: flex;
    list-style: none;
    
}
.nav-bar ul li a{
    text-decoration: none;
    margin: 10px;
    padding: 10px 30px;
    /* border: 1px solid greenyellow; */
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}
.title{
    width: 40%;
    margin-left: 200px;
    margin-top: 100px;
    color: white;
}
.title h1{
    color: white;
    font-size: 100px;
}
.title p{
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.title a{
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 10px 40px;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 25px;
}
.chef{
    height: 900px;
    background-image: url("images/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: tomato;
}
.chef-title{
    width: 70%;
    margin: 0px auto;
    padding-top: 200px;
    text-align: center;
}

.chef-h{
    font-size: 60px;
    color: tomato;
    margin-bottom: 20px;
    /* margin: 0 auto; */
}
.chef-title p {
    font-size: 24px;
}
.our-chef{
    display: flex;
    width: 60%;
    margin: 20px auto;
}
.chef-profile{
    width: 30%;
    padding: 30px;
}

.chef-profile h3{
    font-size: 30px;
    margin-top: 20px;
    text-transform: uppercase;
}
.chef-profile p{
    font-size: 20px;
    margin-top: 10px;
    text-transform: uppercase;
}
.burger-section{
    height: 900px;
    background-color: tomato;
    display: flex;
}

.burger-img {
    text-align: center;
    margin-top: 200px;
}
.burger-details{
    margin-left: 50px;
    margin-top: 250px;
    color: white;
}
.burger-details h2{
    font-size: 80px;
    margin-bottom: 40px;
}
.burger-details p{
    font-size: 30px;
    margin-bottom: 40px;
}
.btn{
    text-decoration: none;
    color: tomato;
    background-color: white;
    padding: 10px 40px;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 25px;
}
.big-burger{
    background-image: url("images/bg4.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 900px;
}
.burger-title{
    margin-top: 300px;
    margin-left: 200px;
    color: tomato;
    padding-right: 200px;
}
.burger-title h2{
    font-size: 80px;
    margin-bottom: 40px;
}
.burger-title p{
    font-size: 20px;
    margin-bottom: 40px;
}
.btn2{
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 10px 40px;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 25px;
}
.burger-img2 {
    margin-top: 200px;
}
.stat-sec{
    height: 900px;
    background-color: tomato;
}
.stat-title{
    text-align: center;
    padding-top: 200px;
    width: 40%;
    margin: 0 auto;
}
.stat-title h1{
    font-size: 80px;
    color: white;
    margin-bottom: 30px;
}
.stat-title p{
    font-size: 20px;
    color: white;
}
.stat-details{
    display: flex;
    width: 60%;
    margin: 0 auto;
}
.stat-1{
    text-align: center;
    margin: 0 auto;
    border: 4px solid white;
    margin-top: 50px;
    padding: 50px;
    border-radius: 50%;
    color: white;
}
.stat-1 h3{
    font-size: 90px;
}
.stat-1 p{
    font-size: 35px;
}
.package-section{
    height: 900px;
    background-image: url("images/bg5.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.pack-sec h1{
    padding-top: 150px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 90px;
    color: tomato;
}
.packages{
    display: flex;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.pack-1{
    width: 30%;
    margin: 0 50px;
    padding: 50px 10px;
    background-color: white;
    border-radius: 10px;
}
.pack-1 h3{
    margin: 20px 0;
    font-size: 30px;
    text-transform: uppercase;
}
.pack-1 img {
    margin-bottom: 10px;
}
.pack-1 h4{
    font-size: 25px;
    margin-bottom: 10px;
}
.pack-1 p{
    font-size: 20px;
    margin-bottom: 30px;
}
.quote-section{
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(114, 41, 28, 0.493), rgba(90, 31, 22, 0.507)), url("images/bg6.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.quote{
    width: 60%;
    margin: 0 auto;
    padding-top: 400px;
    color: white;
    text-align: center;
}
.quote-line{
    font-size: 30px;
    margin-bottom: 30px;
}
.quote-writer{
    font-size: 40px;
}
.update-section{
    height: 900px;
    background-image: url("images/bg5.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.update-sec{
    width: 60%;
    margin: 0 auto;
    padding-top: 300px;
    text-align: center;
}
.update-head{
    font-size: 80px;
    margin-bottom: 60px;
}
.update-details{
    font-size: 30px;
    margin-bottom: 30px;
}
.update-email{
    padding: 20px 200px;
    padding-left: 100px;
    border-radius: 30px 0 0 30px;
    border: 0;
    font-size: 20px;
}
.update-btn{
    padding: 20px 50px;
    margin-left: -20px;
    background-color: tomato;
    color: white;
    border-radius: 0 30px 30px 0;
    border: 0px;
    font-size: 20px;
}
footer{
    height: 400px;
    background-color: black;
    color: white;
}
.footer-section{
    padding-top: 100px;
    display: flex;
}
.footer-left{
    padding-left: 150px;
    padding-right: 100px;
}
.footer-left h3{
    font-size: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.footer-left p{
    font-size: 20px;
    margin-bottom: 20px;
}
.fa-brands {
    padding: 10px;
    font-size: 20px;
    background-color: white;
    color: black;
    border-radius: 50%;
}
.footer-right{
    padding-left: 50px;
    display: flex;
}
.footer-right h4{
    font-size: 30px;
    margin-bottom: 10px;
}
.footer-right ul{
    display: block;
}
.footer-right ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}


